<h1>OpenBrowser (stonklat.com & freedombrowser.org)</h1>
<%= image_tag('Openbrowser_logo.png', width: 150, height: 150) %>
<%= image_tag('Freedombrowser_logo.png', width: 265, height: 150) %>
<h2>OpenBrowser & Freedombrowser Public Services</h2>
<hr>
<ul style="font-size: 21px;">
  <li><a href="/cdn">Freedombrowser Content Delivery Network</a></li>
  <li><a href="/database">Public Game Index</a></li>
  <li><a href="/report/list">(Private) Report List</a></li>
  <li><a href="http://mc.stonklat.com">(HTTP) Freedombrowser Minecraft server</a></li>
  <li><a href="https://freedombrowser.stonklat.com">(HTTPS) Freedombrowser Main page</a></li>
</ul>