<h1>stonklat.com</h1>
<%= image_tag('Openbrowser_logo.png', width: 150, height: 150) %>
<h2>Freedombrowser backend</h2>
<hr>
<ul style="font-size: 21px;">
  <li><b>stonklat.com:</b></li>
  <li><a href="/cdn">Static File directory</a></li>
  <li><a href="/database">Game index (sitemap.json, old)</a></li>
  <br>
  <li><b>Other:</b></li>
  <li><a href="https://cdn.stonklat.com">Public CDN (Apache listing, broken)</a></li>
  <li><a href="https://inf.stonklat.com">Ultraviolet Proxy</a></li>
  <li><a href="https://yt.stonklat.com">Invidious YouTube proxy</a></li>
  <li><a href="https://freedombrowser.org">Freedombrowser Main page</a></li>
  <li><a href="https://freedombrowser.org/static/mc/">Eaglercraft server</a></li>
  <li><a href="https://github.com/freedombrowser">Our Github Organisation</a></li>
  <br>
  <li><b>Admin:</b></li>
  <li><a href="/report/list">Freedombrowser Report List</a></li>
  <li><a href="#">Database Editor</a></li>
  <li><a href="#">Database Index</a></li>
</ul>