<h1>OpenBrowser ( Freedombrowser's API )</h1>
<%= image_tag('Openbrowser_logo.png', width: 150, height: 150) %>
<h2>Services</h2>
<hr>
<ul style="font-size: 21px;">
  <li><a href="/cdn">Content Delivery Network ( Freedombrowser Gamers & other )</a></li>
</ul>