<h1>OpenBrowser (stonklat.com & freedombrowser.org)</h1>
<%= image_tag('Openbrowser_logo.png', width: 150, height: 150) %>
<%= image_tag('Freedombrowser_logo.png', width: 265, height: 150) %>
<h2>OpenBrowser & Freedombrowser Public Services</h2>
<hr>
<ul style="font-size: 21px;">
  <li><b>Openbrowser:</b></li>
  <li><a href="/cdn">View Static Files (Through CDN)</a></li>
  <li><a href="/database">Public Game Index</a></li>
  <li><a href="/report/list">Freedombrowser Report List</a></li>
  <br>
  <li><b>External:</b></li>
  <li><a href="https://cdn.stonklat.com">(HTTPS & FTP) Public CDN (Apache listing)</a></li>
  <li><a href="https://inf.stonklat.com">(HTTPS) Ultraviolet Proxy</a></li>
  <li><a href="https://yt.stonklat.com">(HTTPS) Invidious YouTube proxy</a></li>
  <li><a href="https://freedombrowser.stonklat.com">(HTTPS) Freedombrowser Main page</a></li>
  <li><a href="http://mc.stonklat.com">(HTTP) Freedombrowser Minecraft server</a></li>
  <li><a href="http://mc.stonklat.com">(GIT) Repo</a></li>
</ul>