<h1>List of reports from Freedombrowser users</h1>
<ul>
  <%= @list_items.join.html_safe %>
</ul>
<hr>
<p>About this page:<br>This page displays requests sent to /report by users of freedombrowser on the report system</p>

